.nav_entry_price
{

}

.nav-bar
{
    padding: 0.2vh 4vw 0.2vw 4vw;
    height: auto;
    background-color: #c4dce8;
    display: flex;
    align-items: center;
    justify-content: space-evenly !important;
    flex-shrink: 1
}

.under-head
{
    margin: 0;

}

.nav-link
{
    display: flex;
    color: black;
    width: auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Segoe UI",Arial,sans-serif;
    margin: 1vw;
    font-size: 2vh;
    overflow: hidden;
    white-space: nowrap;
}
.nav-link:hover
{
    text-decoration: underline;
}

#search-box
{
    padding: 1vw;
    text-align: left;
    width: 50%;
}

.outer-search
{

    width: 100%;


}

.dark-nav-link
{
    margin: 1vw;
    color: black;
    font-size: 1rem;
    width: auto;
}

.org
{
    margin: 1vw;
    color: #6697ec;
    display: flex;
    font-size: 1rem;
    justify-self: flex-end!important;
    text-align: center;
}

.nav-iconed
{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}
.nav-iconed p
{
    margin: 0 10px 0 0!important;

}

.form-aligned
{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    margin-left: 2vw;
}

.mobile
{
    display: flex;
    flex-direction: row;
}