.nav_entry_price
{
    color: black;
}

.nav-bar
{
    padding: 0.2vh 4vw 0.2vw 4vw;
    height: 7vh;
    background-color: #c4dce8;
    display: flex;
    align-items: center;
    justify-content: space-evenly !important;
    flex-shrink: 1
}

.under-head
{
    margin: 0;

}

.nav-link
{
    color: #5897fb;
    text-decoration: none;
    font-family: "Segoe UI",Arial,sans-serif;
    margin: 1vw;
    font-size: 2vh;
}
.nav-link:hover
{
    text-decoration: underline;
}