

.row_oriented
{
    display: flex;
}

.button {

    background: 0;
      color: black;
    border-radius: 5px;
    border-color: #007bff;
      padding: 6px 12px;
    border-width: 1px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
}

.button:hover
{
    color: white;
    background-color: #007bff;
}
.p-2 text-dark
{
    align-items: start;
}

body
{
    background: #bbccdd;
}

.d-flex
{
    background: #c4dce8!important;
}

.w3-input
{
    margin-right: 3px;
    background-color: #f8f8f8;
    border-radius: 5px;
    height: 40px;

}

#progress
{
    background-color: black;
    height: 20px!important;
}

#login_window
{
    position: fixed;
    background: 0;
  top: 50%;
  left: 50%;
  font-size: 50px;
    transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

}

#login-form
{
    width: 300px;
    background: 0;
}

.close-button
{
    background: 0;
    border: 0;
    justify-content: end;

}

.close-icon
{
    color: black;
}

#progress
{
    width: 63%;
    margin-left: 3%;
    margin-right: 30%;
    background: 0;
    display: flex;
}

#line
{
    display: flex;
    align-items: center;
    height: 10px;
    background-color: #525252;
}

.contacts___
{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;

}

.cont-text
{
    color: #757575;
    font-size: 30px;
    font-family: "Agency FB";
    margin-left: 3vw;
    margin-right: 3vw;
}

td{

}


.show {
    background-color:yellow;
}

#searcher { position:fixed; top:10px; right:10px; }



.nav_header
{
    background-color: #609ab6;
    z-index: 3;
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 0;
    height: 400px;
}



.edit-table_input
{
    width: 100%;
}


.col_oriented
{
    display: flex;
    flex-direction: column;
}

.even-space
{
    display: flex;
    justify-content: space-evenly;
}

.wide-split-line
{
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #757575;
    height: 0.3vh;
    border-radius: 50%;
    border-color: #4f4f4f;
    border-width: 0.1vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}


.item_image
{
    display: none;
    top: 0;
    width: 100vw;
    height: 100vh;
    /*padding-left: 30vw;*/
    /*padding-right: 30vw;*/

    /*padding-bottom: 35vh;*/
    /*padding-top: 35vh;*/

    background-color: rgba(0,0,0,0.5); /* Black background with opacity */

    position: fixed; /* Sit on top of the page content */

    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    background-position: center;
    justify-content: center;
}

.entry_count
{
    width: 100%;
    margin-top: 1vh;
    font-size: medium;
    color: #4f4f4f;
    text-align: center;
}

.centred
{
    display: flex;
    width: 100%;
    justify-content: center;

}

.photo_text
{
    text-decoration: underline;
}
.photo_text:hover
{
color: #4b7fb6;
}


.center-header
{
    background-color: red;
}

.flex{display: flex}


.page-nav-buttons
{
    display: flex;
    justify-content: center;
    margin: 1vw 0 1vw 0;
}

.nav-page-button
{
    text-align: center;
    vertical-align: middle;
    margin: 0 1vw 0 1vw;
    cursor:pointer;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}




