#main_table{
    position: absolute;
    top: 100px;

}

.row_oriented
{
    display: flex;
}

.button {

    background-color: #c4dce8;
      color: black;
    border-radius: 5px;
    border-color: #007bff;
      padding: 6px 12px;
    border-width: 1px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
}

.button:hover
{
    color: white;
    background-color: #007bff;
}
.p-2 text-dark
{
    align-items: start;
}

body
{
    background: #bbccdd;
}

.d-flex
{
    background: #c4dce8!important;
}

.w3-input
{
    margin-right: 3px;
    background-color: #f8f8f8;
    border-radius: 5px;
}