
#table-universal {
    position: absolute;
    top: 100px;
    background-color: ghostwhite;
    border: 1px;
}

table
{
    margin-top: 20vh;
    width:90%!important;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px;
}

.th-inner
{
    text-align: center;
}

td
{

    text-align: left;
    padding: 1px;
    justify-content: center;
    align-items: center
}

tr
{
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

tr:hover
{
 background-color: gold;
}

.edit-table_input
{
    width: 90%;
    border-radius: 2px;
    background-color: #bbccdd;
    height: 30px;
    padding-left: 5%;
    padding-right: 5%;
    border: 0;
}

.photo_link_input
{
    width: 80%;
}

.reveal_img
{
    width: 20%;
    height: 40px;
    background: 0;
    border: 0;

}

#page-load-status
{
    width: 100%;
    text-align: center;
    color: red;
    font-size: 30px;

}

.action-button-admin
{
    width: 10vw;
    height: 5vh;
    border-radius: 4%;
    background-color: #5ea1ff;
    color: #fff7ed;
    font-size: medium;
    border-color: #4b7fb6;
    margin: 1vh;
}

.action-button-admin:hover
{

    color: #c1daff;

}

.file-input-admin
{
    height: 5vh;
    width: 10vw;
    background-color: #5ea1ff;
    z-index: 1;
    margin: 1vh;

}



