<div class="nav-bar">

        <h5 class="font-weight-normal org "><a href="/">ТОВ «РАСТА»</a></h5>


        <div class=" outer-search">

            <div class="search-and-price">

                <form action="/price/" class="form-aligned row_oriented max-space">
                    {% include "desktop/datalist.html" %}
                    <input class="w3-input" type="text" name="q" list="items" id="search-box" placeholder="Поиск по прайсу">
                    <input type="hidden" value="0" name="p">
                    <button class="button" type="submit" ><i class="fa fa-search"></i></button>

                </form>

                <form action="/price/" class="form-aligned row_oriented">
                    <input type="hidden" value="0" name="p">
                    <input type="hidden" value="" name="q">
                    <button class="font-weight-normal button nav-iconed dark-nav-link" title="прайс лист радиодетали"><p class="">Прайс лист</p> <i class="fa fa-bars "></i></button>
                </form>

            </div>


        </div>



    </div>