{# DESKTOP UPPER NAVBAR  #}



{% load static %}
        <link rel="stylesheet" href="{% static 'css/desktop/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/desktop/user_page.css' %}">
        <link rel="stylesheet" href="{% static 'css/desktop/navbar_upper.css' %}">
{#    icons price  #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {#    icons search  #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {#   cards  #}
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.3/examples/pricing/pricing.css">
    <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<link rel="stylesheet" href={% static "css/desktop/common_table.css" %}>
<link rel="stylesheet" href={% static "css/desktop/navbar_upper.css" %}>

<div class="nav-bar">
    <div class="nav-container">

        <div class="nav-section left equal">
            <!-- main page link -->
            <a href="/" class="org"> <i  class="fa fa-home home-icon"></i>  ООО «РАСТА» </a>
        </div>


        <div class="nav-section">
            <!-- price list -->
            <form action="/price/">
                <input type="hidden" value="0" name="p">
                <input type="hidden" value="" name="q">
                <button class="font-weight-normal button nav-iconed button-wide" title="полный прайс лист"><p class="">Прайс лист</p> <i class="fa fa-bars "></i></button>
            </form>


            <!-- User order page  -->
            <form action="/my_orders">
                <button type="submit" class="button font-weight-normal button nav-iconed button-wide">your orders</button>
            </form>

            <!-- search box -->
            <form action="/price/" class="form-aligned row_oriented max-space nowrap">
                {% include "desktop/datalist.html" %}
                <input class="w3-input" type="text" name="q" list="items" title="искать деталь" id="search-box" placeholder="Поиск по прайсу">
                <input type="hidden" value="0" name="p">
                <button class="button" type="submit" title="поиск"><i class="fa fa-search"></i></button>
            </form>


            <!-- admin page -->
            <form action="/adm/">
                <button class="font-weight-normal button nav-iconed button-wide">adm</button>
            </form>

            <!-- order chat -->
             <form action="/accounts/me/chat/">
                <button class="font-weight-normal button nav-iconed button-wide">chat</button>
            </form>

        </div>

        <!-- placeholder -->
        <div class="nav-section equal right">
            <form action="/accounts/me">
                <button class="font-weight-normal button nav-iconed button-wide">my page</button>
            </form>
        </div>
    </div>
</div>