<!DOCTYPE html>
<html lang="en">
<head>

    <title>РАСТА Радиодетали, электронные компоненты</title>

    <meta charset="UTF-8">
    <meta name="description" content="Радиодетали с доставкой по Украине">
    <meta name="keywords" content="прайс, купить радиодетали, радиодетали прайс лист, радиодетали почтой наложенным платежом, радиодетали ссср цена, резисторы, транзисторы, микросхемы, диоды, трансформаторы, конденсаторы">


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    {#    icons price  #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {#    icons search  #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {#   cards  #}
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.3/examples/pricing/pricing.css">
    <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {#    custom   #}
    {% load static %}


    <script src="{% static 'js/funcs.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/mobile/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile/navbar_upper.css' %}">


</head>


    <body>


    <div class="nav-bar mobile">

        <h5 class="font-weight-normal org "><a href="/">ООО «РАСТА» <span class="fa fa-home w3-large"></span> </a></h5>


        <div class=" outer-search">
            <form action="/price/" class="form-aligned row_oriented">
                {% include "desktop/datalist.html" %}
                <input type="hidden" value="0" name="p">
                <div class="search-input">
                    <input class="w3-input" type="text" name="q" list="items" id="search-box" placeholder="Поиск по прайсу">
                    <button class="button mg-x" type="submit" ><i class="fa fa-search"></i></button>
                </div>




            </form>

        </div>

        <div class="nav-row">
            <form action="/price/">
                <input type="hidden" value="0" name="p">
                <input type="hidden" value="" name="q">
                <button class=" font-weight-normal  nav-iconed button " title="прайс лист радиодетали"><p class="pretty-font">Прайс лист</p> <i class="fa fa-bars "></i></button>
            </form>

            <button class="button font-weight-normal mg-y" onclick="show_login()">Войти</button>
        </div>


          {% if user %}
          <a class="p-2 text-dark" href="/adm">У меня тут есть власть</a>
          {% endif %}

{#    <a class="p-2 text-dark" href="#footer_">Контакты <span class="glyphicon glyphicon-earphone"></span> </a>#}



        <script>
            function show_login() {
                console.log("show");
                document.getElementById("login_window").hidden = false
            }
        </script>

</div>

<hr class="under-head">

    <div class="contacts___">
       <div class="cont-text ">+38 068 785 68 25 (Kyivstar)</div>

        <div class="cont-text"> vfo@ukr.net</div>
            <div class="cont-text ">+38 095 903 23 10 (MTC)</div>
      </div>


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Радиодетали, Электроника</h1>



      <p class="lead">
          ООО Раста реализует широкий выбор радиоэлектронных компонентов. Свыше 3000 наименований.
      </p>
</div>

<div class="container">

  <div class="card-deck mb-3 text-center">

      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Транзисторы</h4>
      </div>
      <div class="card-body">
{#        <h1 class="card-title pricing-card-title">ткст <small class="text-muted">знч</small></h1>#}
        <ul class="list-unstyled mt-3 mb-4">
            <li>Германиевые</li>
            <li>Кремниевые</li>
          <li>Импортные</li>

          <li>Полевые</li>

        </ul>
          <a class="btn btn-lg btn-block btn-outline-primary" href="/price?q=транзистор&p=0">Подробнее</a>
      </div>
    </div>


      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Лампы</h4>
      </div>
      <div class="card-body">
{#        <h1 class="card-title pricing-card-title">ткст <small class="text-muted">знч</small></h1>#}
        <ul class="list-unstyled mt-3 mb-4">
          <li>Разрядники</li>
          <li>Баретторы</li>

          <li>Пентоды</li>
            <li>Диоды</li>

        </ul>
          <a class="btn btn-lg btn-block btn-outline-primary" href="/price?q=ламп&p=0">Подробнее</a>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Микросхемы</h4>
      </div>
      <div class="card-body">
{#        <h1 class="card-title pricing-card-title">ткст <small class="text-muted">знч</small></h1>#}
        <ul class="list-unstyled mt-3 mb-4">
            <li>Аналоговые</li>
            <li>Импортные</li>
            <li>Гибридные</li>
            <li>Цифровые</li>
        </ul>
          <a class="btn btn-lg btn-block btn-outline-primary" href="/price?q=микросхем&p=0">Подробнее</a>
      </div>
    </div>

      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Диоды</h4>
      </div>
      <div class="card-body">
{#        <h1 class="card-title pricing-card-title">ткст <small class="text-muted">знч</small></h1>#}
        <ul class="list-unstyled mt-3 mb-4">
          <li>Маломощные</li>
          <li>Силовые</li>
          <li>Шоттки</li>
          <li>СВЧ</li>
        </ul>
          <a class="btn btn-lg btn-block btn-outline-primary" href="/price?q=диод&p=0">Подробнее</a>
      </div>
    </div>




      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Установочные</h4>
      </div>
      <div class="card-body">
{#        <h1 class="card-title pricing-card-title">ткст <small class="text-muted">знч</small></h1>#}
        <ul class="list-unstyled mt-3 mb-4">
          <li>Лампы Накаливания</li>
          <li>Предохранители</li>
          <li>Вольтметры</li>
          <li>Разъемы</li>

        </ul>
          <a class="btn btn-lg btn-block btn-outline-primary" href="/price?q=установочные&p=0">Подробнее</a>
      </div>
    </div>



      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Трансформаторы</h4>
      </div>
      <div class="card-body">
{#        <h1 class="card-title pricing-card-title">ткст <small class="text-muted">знч</small></h1>#}
        <ul class="list-unstyled mt-3 mb-4">
           <li>50 Герц</li>
          <li>Дроссели</li>
          <li>400 Герц</li>

          <li>Катушки</li>

        </ul>
          <a class="btn btn-lg btn-block btn-outline-primary" href="/price?q=трансформатор&p=0">Подробнее</a>
      </div>
    </div>



    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Конденсаторы</h4>
      </div>
      <div class="card-body">
{#        <h1 class="card-title pricing-card-title">ткст <small class="text-muted">знч</small></h1>#}
        <ul class="list-unstyled mt-3 mb-4">
          <li>Неполярные</li>
          <li>Проходные</li>
          <li>Пусковые</li>
          <li>Полярные</li>
        </ul>
          <a class="btn btn-lg btn-block btn-outline-primary" href="/price?q=конденсатор&p=0">Подробнее</a>
      </div>
    </div>


    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Резисторы</h4>
      </div>



      <div class="card-body">
{#        <h1 class="card-title pricing-card-title">ткст <small class="text-muted">знч</small></h1>#}
        <ul class="list-unstyled mt-3 mb-4">
            <li>Проволочные ПЭВ</li>
            <li>Прецезионные</li>
            <li>Переменные</li>
            <li>Постоянные</li>

        </ul>
          <a class="btn btn-lg btn-block btn-outline-primary" href="/price?q=резистор&p=0">Подробнее</a>

      </div>
    </div>











  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top" id="footer_">
    <div class="row">

{#      <div class="col-12 col-md">#}
{#        <small class="d-block mb-3 text-muted">© 2019</small>#}
{#      </div>#}
{##}
{#      <div class="col-6 col-md">#}
{##}
{#        <h5>Контакты</h5>#}
{#        <ul class="list-unstyled text-small">#}
{#          <li class="text-muted">+38 095 903 23 10</li>#}
{#          <li class="text-muted">+38 068 785 68 25</li>#}
{##}
{#          <li class="text-muted">vfo@ukr.net</li>#}
{#        </ul>#}
{#          #}
{#      </div>#}
{#      <div class="col-6 col-md">#}
{#        <h5>Адресс</h5>#}
{#        <ul class="list-unstyled text-small">#}
{#          <li class="text-muted">Ул. Пушкина</li>#}
{#          <li class="text-muted">Дом Колотушкина</li>#}
{#        </ul>#}
{#      </div>#}
{#      <div class="col-6 col-md">#}
{#        <h5>About</h5>#}
{#        <ul class="list-unstyled text-small">#}
{#          <li class="text-muted">Team</li>#}
{#          <li class="text-muted">Locations</li>#}
{#        </ul>#}
{#      </div>#}
    </div>


  </footer>

    </div>
<script> function hide_window()
    {
    document.getElementById("login_window").hidden = true
    }
</script>
    <div id="login_window" hidden="true">
        <form id="login-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button class="close-button" type="button" onclick="hide_window()"><i  class="fa fa-close close-icon"></i></button>
            <input name="username" placeholder="username" class="w3-input"  >
            <input name="password" placeholder="password" type="password" class="w3-input">
            <button type="submit" class="button" >submit</button>
        </form>
    </div>

    {% include "desktop/datalist_template.html" %}

</body>
</html>