<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mobile/item_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile/navbar_upper.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile/style.css' %}">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <meta charset="UTF-8">
    <meta name="description" content="покупка {{ item.category }} {{ item.name }}. {{ item.description }} Доставка по Украине">
    <meta name="keywords" content="{{ item.category }}, {{ item.name }}, цена, прайслист, купить радиодетали, радиодетали прайс лист, радиодетали почтой наложенным платежом, радиодетали ссср цена">

    <title>Купить {{ item.category }} {{ item.name }} в Украине</title>

</head>

<body class="">

    <div class="nav-bar">

        <div>
            <a class="nav-link" href="/">«ТОВ РАСТА»</a>
        </div>
         <form action="/price/">
            <div class="row_oriented">
                {% include "desktop/datalist.html" %}
                <input class="w3-input" type="text" name="q" list="items" placeholder="Поиск по прайсу">
                <input type="hidden" value="0" name="p">
                <button class="button" type="submit" ><i class="fa fa-search"></i></button>
            </div>
        </form>

        <a class="nav-link" href="/price?full=true" title="прайс лист радиодетали">Прайс лист <span class="glyphicon glyphicon-align-justify"></span></a>

    </div>

    <div class="contacts___">
        <div class="cont-text ">+38 068 785 68 25 (Kyivstar)</div>
        <div class="cont-text"> vfo@ukr.net</div>
        <div class="cont-text ">+38 095 903 23 10 (MTC)</div>
    </div>

    <div class=" container-item-main">

        <h1 class="main-header"><a class="categ-link" href="/price/?q={{ item.category_to_search }}&p=0">{{ item.category }}</a>: {{ item.name }} — Купить с доставкой по Украине</h1>
        <hr class="hl">
        <div class="flex space-betw">
            <p class="text-main">{{ item.description }}</p>
        <div class="vl"></div>
            <div class="right-half-info">
                <img  src="{{ item.photo_link }}" alt="{{ item.name }}" title="{{ item.name }}">

                <div class="data-row">
                    <p class="align-mid text-info">{% if item.amount|isint and  item.amount|toint > 0 %}Есть в наличии: {{ item.amount }} шт.{% else %}Нет в наличии{% endif %}</p>
                    <p class="align-mid text-info">Последние изменения: {{ date }} </p>
                    <p class="align-mid text-info">Price: {{ item.price }} ₴</p>
                    <p class="align-mid text-info">Последние изменения: {{ date }} </p>
                </div>


            </div>

        </div>
        <div class="up-split"></div>



    </div>


<hr>



</body>

</html>