:root
{
    min-width: 1000px;
}


.nav_entry_price
{

}

.nav-bar
{
    background-color: #c4dce8;
    border-bottom: 1px #8d9bb0 solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-section
{
    padding: 1vh 1vw 1vw 1vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.equal
{
    width: 21vw;
}
.right
{
display: flex;
justify-content: flex-end
}
.left
{
display: flex;
justify-content: flex-start
}

.under-head
{
    margin: 0;

}

.nav-link
{
    display: flex;
    color: black;
    width: auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Segoe UI",Arial,sans-serif;
    margin: 1vw;
    font-size: 2vh;
    overflow: hidden;
    white-space: nowrap;
}
.nav-link:hover
{
    text-decoration: underline;
}

#search-box
{
    padding: 1vw;
    text-align: left;
    max-width: 40vw;
}

.outer-search
{

    width: 80%;


}

.dark-nav-link
{
    margin: 1vw;
    color: black;
    font-size: 1rem;
    width: auto;
}

.org
{
    margin: 0;
    color: #6697ec;
    font-size: 1.5rem;
    //justify-self: flex-end!important;

    //text-align: center;
    //overflow: hidden;
    //white-space: nowrap;

}

.nav-iconed
{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}
.nav-iconed p
{
    margin: 0 10px 0 0!important;

}

.form-aligned
{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    margin-left: 2vw;
}



.search-and-price
{
    display: flex;
    justify-content: space-between;
}

.max-space
{
    width: 100%;
}