.nav_entry_price
{

}

.nav-bar
{
    padding: 1vh 12vw 1vw 12vw;
    height: auto;
    background-color: #c4dce8;
    display: flex;
    align-items: center;
    justify-content: space-evenly !important;
    border-bottom: 1px #8d9bb0 solid;

}

.under-head
{
    margin: 0;

}

.nav-link
{
    display: flex;
    color: black;
    width: auto;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Segoe UI",Arial,sans-serif;
    margin: 1vw;
    font-size: 2vh;
    overflow: hidden;
    white-space: nowrap;
}
.nav-link:hover
{
    text-decoration: underline;
}

#search-box
{
    padding: 1vw;
    text-align: left;
    width: 60%;
}

.outer-search
{

    width: 100%;


}

.dark-nav-link
{
    margin: 1vw;
    color: black;
    font-size: 1rem;
    width: auto;
}

.org
{
    margin: 1vw;
    color: #6697ec;
    display: flex;
    font-size: 1rem;
    justify-self: flex-end!important;
    text-align: center;
}

.nav-iconed
{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}
.nav-iconed p
{
    margin: 0 10px 0 0!important;

}

.form-aligned
{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    margin-left: 2vw;
}



.search-and-price
{
    display: flex;
    justify-content: space-between;
}

.max-space
{
    width: 100%;
}