

.row_oriented
{
    display: flex;
}

.button
{

    background: 0;
    color: black;
    border-radius: 5px;
    border-color: #007bff;
    padding: 6px 12px;
    border-width: 1px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
}
.button-wide
{
    //padding: 5px 2vw 5px 2vw;
    min-width: 7vw;
    margin: 1vh 1vw 1vh 1vw;
}

.button:hover
{
    color: white;
    background-color: #007bff;
}
.p-2 text-dark
{
    align-items: start;
}

body
{
    background: #bbccdd!important;
}

.d-flex
{
    background: #c4dce8!important;
}

.w3-input
{
    margin-right: 3px;
    background-color: #f8f8f8;
    border-radius: 3px;
    border: 1px #98a2ab solid;
    height: 40px;
    padding-left: 8px;
}


.close-button
{
    background: 0;
    border: 0;
    justify-content: end;

}

.close-icon
{
    color: black;
}


.contacts___
{
    margin-top: 2vh;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2vh;

}

.cont-text
{
    color: #757575;
    font-size: 30px;
    font-family: "Agency FB";
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: center;
}



.show {
    background-color:yellow;
}

#searcher { position:fixed; top:10px; right:10px; }



.nav_header
{
    background-color: #609ab6;
    z-index: 3;
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 0;
    height: 400px;
}



.edit-table_input
{
    width: 100%;
}


.col_oriented
{
    display: flex;
    flex-direction: column;
}

.even-space
{
    display: flex;
    justify-content: space-evenly;
}

.wide-split-line
{
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #757575;
    height: 0.3vh;
    border-radius: 50%;
    border-color: #4f4f4f;
    border-width: 0.1vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}


.item_image
{
    display: none;
    top: 0;
    width: 100vw;
    height: 100vh;
    /*padding-left: 30vw;*/
    /*padding-right: 30vw;*/

    /*padding-bottom: 35vh;*/
    /*padding-top: 35vh;*/

    background-color: rgba(0,0,0,0.5); /* Black background with opacity */

    position: fixed; /* Sit on top of the page content */

    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    background-position: center;
    justify-content: center;
}

.entry_count
{
    width: 100%;
    margin-top: 1vh;
    font-size: medium;
    color: #4f4f4f;
    text-align: center;
}

.centred
{
    display: flex;
    justify-content: center;

}

.distance
{
    margin: 1vw;
}

.photo_text
{
    text-decoration: underline;
}
.photo_text:hover
{
color: #4b7fb6;
}


.center-header
{
    background-color: red;
}

.flex{display: flex}


.page-nav-buttons
{
    display: flex;
    justify-content: center;
    margin: 1vw 0 1vw 0;
}

.nav-page-button
{
    text-align: center;
    vertical-align: middle;
    margin: 0 1vw 0 1vw;
    cursor:pointer;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}


.go_back
{
    align-self: center;
}
.card-footer
{
    border-top: 2px solid white;
    padding-top: 1vh;
    display: flex;
    justify-content: center;
}

#entry-count
{
    width: 100%;
    text-align: center;
    color: #007bff;
    font-weight: 500;
}

.nowrap
{
    flex-wrap: nowrap;
}
.wrap
{
    flex-wrap: wrap;
}

.wide-centered
{
    width: 100%;
    display: flex;
    justify-content: center
}

.ycenter
{
    margin-top: 25vh;
}

.container_main
{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

