.main-header
{

    text-align: center;
    font-family: "Segoe UI",Arial,sans-serif;
    color: #419abc;
    font-size:calc(2rem);

}

img
{
    margin: 2vw;
    height: 24vw;
    width: 32vw;
}


.up-split
{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.container-item-main
{
    margin: 4vh 5vw 4vh 5vw;
    padding: 1vh 5vw 1vh 5vw;

    background-image: linear-gradient(#E2E6E7, #e5e7d8);
    border-radius: 5px 5px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}
.container-item-main:hover
{

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24);
    background-image: linear-gradient(#e2e7df, #e4e7d2);
    transition: 0.3s;
}


.space-betw
{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.category-button
{
    background: 0;
    border: 0;
}

.text-main
{
    padding: 1vh 2vw 1vh 2vw;
    font-size: 2rem;

}

.text-info
{
    font-size:calc(10px + 1rem);
    margin-left: 1vw;
    margin-right: 1vw;
}

.align-mid {
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.categ-link:hover
{
    color: #995a4d;
}
.right-half-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vl {
  border-left: 3px solid white;
  margin-left: -3px;
}
.hl
{
     border-bottom: 3px solid white;
     margin: 0;
}