<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/desktop/item_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/desktop/navbar_upper.css' %}">
    <link rel="stylesheet" href="{% static 'css/desktop/style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <meta charset="UTF-8">
    <meta name="description" content="покупка {{ item.category }} {{ item.name }}. {{ item.description }} Доставка по Украине">
    <meta name="keywords" content="{{ item.category }}, {{ item.name }}, цена, прайслист, купить радиодетали, радиодетали прайс лист, радиодетали почтой наложенным платежом, радиодетали ссср цена">

    <title>Купить {{ item.category }} {{ item.name }} в Украине</title>

</head>

<body class="">

   {% include "desktop/extendable/navbar.html" %}


   {% include "desktop/extendable/contacts.html" %}

    <div class=" container-item-main">

        <h1 class="main-header"><a class="categ-link" href="/price/?q={{ item.category_to_search }}&p=0">{{ item.category }}</a>: {{ item.name }} — Купить с доставкой по Украине</h1>

        <div class="hl"></div>

        <div class="flex space-betw">
            <p class="text-main">{{ item.description }}</p>

            <div class="vl"></div>

            <div>
                {% if item.photo_link %}
                    <img  src="{{ item.photo_link }}" alt="{{ item.name }}" title="{{ item.name }}">
                {% else %}
                    <p class="align-mid" style="color: #8d9bb0">Фотографии нет. Пока что...</p>
                {% endif %}

                <div class="data-row">
                    <p class="align-mid info-entry">{% if item.amount|isint and  item.amount|toint > 0 %}Есть в наличии: {{ item.amount }} шт.{% else %}Нет в наличии{% endif %}</p>
                    <p class="align-mid info-entry">Цена: {{ item.price }} ₴</p>
                    <p class="align-mid info-entry">Последние изменения: {{ date }} </p>
                    <p class="align-mid info-entry">Номер: {{ item.index }} </p>
                </div>



            <script>function goBack(){window.history.back()}</script>

            </div>

        </div>
        <div class="card-footer">
            <button onclick="goBack()" class="go_back button">Назад к прайсу</button>
        </div>


        <div class="up-split"></div>
    </div>
<hr>
</body>

</html>