
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% load  app_filters %}
    {% load static %}

    <script src="{% static "image_preview.js"%}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    <form method="get"><button name="create_xl" value="pressed">download</button></form>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file_input" >
        <button type="submit">submit</button>
    </form>

<form method="get"><button name="edit_db_table" value="pressed" type="submit">edit price list</button></form>

    <div id="progress">
        <div id="line"></div>
        <div id="progress_percent"></div>
    </div>




    {% include "price_list_table_template.html" %}


</body>
</html>