<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.3/examples/pricing/pricing.css">
    <script src="chrome-extension://cmedhionkhpnakcndndgjdbohmhepckk/scripts/contentscript.js"></script>
    <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <title>Радиодетали, электронные компоненты</title>

</head>


    <body>



    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Рога и Копыта</a></h5>
        <form class="w3-container">
            <div class="row_oriented">
                <input class="w3-input" type="text" name="search_request" placeholder="Поиск по прайсу">
                <button class="button" type="submit" ><i class="fa fa-search"></i></button>
            </div>
        </form>
  <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/adm">Админка</a>
    <a class="p-2 text-dark" href="#footer_">Контакты <span class="glyphicon glyphicon-earphone"></span> </a>
    <a class="p-2 text-dark" href="/full_price">Прайс лист <span class="glyphicon glyphicon-align-justify"></span></a>

  </nav>
        <script>
            function show_login() {
                console.log("show");
                document.getElementById("login_window").hidden = false
            }
        </script>
  <button class="button" onclick="show_login()">Log in</button>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Электронные компоненты</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Резисторы</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">ткст <small class="text-muted">знч</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Постоянные</li>
          <li>Переменные</li>
            <li>-</li>
            <li>-</li>

        </ul>
          <form method="get"><button type="submit" class="btn btn-lg btn-block btn-outline-primary" name="item_requested" value="резистор">Подробнее</button></form>

      </div>
    </div>

      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Диоды</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">ткст <small class="text-muted">знч</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Маломощные</li>
          <li>Мощные</li>
          <li>Шоттки</li>
          <li>СВЧ</li>
        </ul>
          <form method="get"><button type="submit" class="btn btn-lg btn-block btn-outline-primary" name="item_requested" value="диод">Подробнее</button></form>
      </div>
    </div>

      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Транзисторы</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">ткст <small class="text-muted">знч</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Импортные</li>
          <li>Кремниевые</li>
          <li>Полевые</li>
          <li>Германиевые</li>
        </ul>
          <form method="get"><button type="submit" class="btn btn-lg btn-block btn-outline-primary" name="item_requested" value="транзистор">Подробнее</button></form>
      </div>
    </div>

      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Микросхемы</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">ткст <small class="text-muted">знч</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Аналоговые</li>
          <li>Цифровые</li>
          <li>-</li>
            <li>-</li>
        </ul>
          <form method="get"><button type="submit" class="btn btn-lg btn-block btn-outline-primary" name="item_requested" value="микросхема">Подробнее</button></form>
      </div>
    </div>
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Лампы</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">ткст <small class="text-muted">знч</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Баретторы</li>
          <li>Диоды</li>
          <li>Пентоды</li>
            <li>-</li>
        </ul>
          <form method="get"><button type="submit" class="btn btn-lg btn-block btn-outline-primary" name="item_requested" value="электронные лампы">Подробнее</button></form>
      </div>
    </div>

   <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Установочные</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">ткст <small class="text-muted">знч</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Предохранители</li>
          <li>лампы накаливания</li>
          <li>Разъемы</li>
            <li>-</li>
        </ul>
          <form method="get"><button type="submit" class="btn btn-lg btn-block btn-outline-primary" name="item_requested" value="установочные изделия">Подробнее</button></form>
      </div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Конденсаторы</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">ткст <small class="text-muted">знч</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Неполярные</li>
          <li>Полярные</li>
            <li>-</li>
            <li>-</li>
        </ul>
          <form method="get"><button type="submit" class="btn btn-lg btn-block btn-outline-primary" name="item_requested" value="конденсатор">Подробнее</button></form>
      </div>
    </div>

  <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Трансформаторы</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">ткст <small class="text-muted">знч</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>50 Герц</li>
          <li>400 Герц</li>
            <li>-</li>
            <li>-</li>
        </ul>
          <form method="get"><button type="submit" class="btn btn-lg btn-block btn-outline-primary" name="item_requested" value="трансформатор">Подробнее</button></form>
      </div>
    </div>
  </div>
  <footer class="pt-4 my-md-5 pt-md-5 border-top" id="footer_">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">© 2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Контакты</h5>
        <ul class="list-unstyled text-small">
          <li class="text-muted">8-800-555-35-35</li>

          <li class="text-muted"> harrypotter@gmail.com</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Адресс</h5>
        <ul class="list-unstyled text-small">
          <li class="text-muted">Ул. Пушкина</li>
          <li class="text-muted">Дом Колотушкина</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="text-muted">Team</li>
          <li class="text-muted">Locations</li>
        </ul>
      </div>
    </div>


  </footer>

    </div>
<script> function hide_window()
    {
    document.getElementById("login_window").hidden = true
    }
</script>
    <div id="login_window" hidden="true">
        <form id="login-form" method="post" enctype="multipart/form-data">{% csrf_token %}
            <button class="close-button" type="button" onclick="hide_window()"><i  class="fa fa-close close-icon"></i></button>
            <input name="username" placeholder="username" class="w3-input"  >
            <input name="password" placeholder="password" type="password" class="w3-input">
            <button type="submit" class="button">submit</button>
        </form>
    </div>
</body>
</html>