<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static "image_preview.js"%}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/table_for_view.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {# icons #}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{#   table  #}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{#   table  #}

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="price-table-body">

    <script>
        function hide_window()
        {
            document.getElementById("login_window").hidden = true
        }
        function show_login()
        {
            document.getElementById("login_window").hidden = false
        }
    </script>


    <div class="after-overlay d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Рога и Копыта</a></h5>
        <form class="w3-container">
            <div class="row_oriented">
                <input class="w3-input" type="text" name="search_request" placeholder="Поиск по прайсу">
                <button class="button" type="submit" ><i class="fa fa-search"></i></button>
            </div>
        </form>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#footer_">Контакты <span class="glyphicon glyphicon-earphone"></span> </a>
    <a class="p-2 text-dark" href="/full_price">Прайс лист</a>
    <a class="p-2 text-dark" href="/">Назад <span class="fa fa-home w3-large"></span></a>

  </nav>

  <button class="button" onclick="show_login()">Sign up</button>
</div>
    <div class="contacts___">

          <div class="cont-text">8-800-555-35-35</div>
            <form method="get"><button type="submit" name="download_price" value="pressed" class="button">Скачать прайс</button></form>
          <div class="cont-text"> harrypotter@gmail.com</div>

    </div>

    {% include "price_list_table_template.html" %}

    <div id="login_window" hidden="true">
        <form id="login-form" method="post" enctype="multipart/form-data">{% csrf_token %}
            <button class="close-button" type="button" onclick="hide_window()"><i  class="fa fa-close close-icon"></i></button>
            <input name="username" placeholder="username" class="w3-input"  >
            <input name="password" placeholder="password" type="password" class="w3-input">
            <button type="submit" class="button">submit</button>
        </form>
    </div>




{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>#}
{#    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>#}



</body>
</html>