{% load  app_filters %}
{% load static %}

{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
{#    <link rel="stylesheet" href="{% static "css/table_for_view.css" %}">#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {# icons #}
{#    <link rel="stylesheet" href="{% static 'css/style.css' %}">#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>#}

<script src={% static "image_preview.js" %}></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>


<!-- show static headers if original not visible -->

<script>
    document.addEventListener("scroll", elementInViewport2);

    function elementInViewport2() {
        el = document.getElementById("table-head");
        var top = el.offsetTop;
        var left = el.offsetLeft;
        var width = el.offsetWidth;
        var height = el.offsetHeight;

        while(el.offsetParent) {
        el = el.offsetParent;
        top += el.offsetTop;
        left += el.offsetLeft;
        }
        if(
            top < (window.pageYOffset + window.innerHeight) &&
            left < (window.pageXOffset + window.innerWidth) &&
            (top + height) > window.pageYOffset &&
            (left + width) > window.pageXOffset
          )
        {
            document.getElementById("view-header").hidden = true;
        }
        else
        {
            document.getElementById("view-header").hidden = false;
        }
    }
    </script>

<!-- -- -- -- -- -- -- -- -- -- -- -->



{% if mode == "edit" %}
    {% csrf_token %}
    <script>

        document.addEventListener("input", function (e) {
        console.log(e);
            if(e.target.getAttribute("value") != e.target.value && e.target.getAttribute("data-field"))
            {
                e.target.style.color = "green"
            }
            else
            {
                e.target.style.color = "black"
            }
            if(e.target.value=="" && e.target.getAttribute("data-field") == "name")
            {
                e.target.setAttribute("placeholder", `${e.target.getAttribute("value")} Будет удален`)
            }
            console.log(e.target);
            input_el = e.target;
            changes = JSON.parse(document.getElementById("changes").value);
            let id = input_el.getAttribute("data-id");
            let field = input_el.getAttribute("data-field");
            if (input_el.type == "checkbox")
            {
                changes[`${id}|${field}`] = input_el.checked == true;
            }
            else
            {
                changes[`${id}|${field}`] = input_el.value;
            }

            console.log(changes);
            document.getElementById("changes").value = JSON.stringify(changes)
            })
    </script>
{% endif %}
{% if table %}
    <div class="entry_count">Деталей найдено: {{ table|length }}</div>
{#<form method="post" enctype="multipart/form-data">{% csrf_token %}#}

    <script>

        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
}

        function pass_changes()
        {
            var csrftoken = getCookie('csrftoken');

            $.ajaxSetup({
            beforeSend: function(xhr, settings) {

                    xhr.setRequestHeader("X-CSRFToken", csrftoken);

                }
            });

            $.ajax({
            type: "POST",
            url: "/adm/",
            data: { "changes": document.getElementById("changes").value}
        })
        }
    </script>


    {% if mode == "edit" %}

        <input type="hidden" id="changes" name="changes" value="{}">
        <div class="even-space">
            <button type="button" class="action-button-admin" onclick="pass_changes()">Сохранить в БД</button>
        </div>

    {% endif %}

        <table id="table-universal" class="table table-hover" >
        <thead id="table-head">
            {% for head in headers %}
                <th class="th-inner {{ head }}" id="{{ head }}">{{ head }}</th>
            {% endfor %}
            </thead>

            <tbody>
                {% for row_index, item in table %}

                {% if item.photo_link %}

                        <img class="item_image" src="{{ item.photo_link }}" id="img{{ row_index }}" alt="{{ item.name }}"> <!-- adding hidden image on page -->

                {% endif %}

                    {% if mode == "edit" or not item.is_hidden %}
                    <tr>
                        {% for col_index, field in fields %}

                            <td {% if field == "name" %}id="{{ item.name }}"{% endif %} class="{% if field == "photo_link" and mode == "edit" %} row_oriented {% endif %}{% if field == "name" %} name_column{% endif %}">
                                {% if mode == "edit" %}
                                <input
                                    class="edit-table_input {% if field == "photo_link" %} photo_link_input{% endif %}"
                                    data-id="{{item.id}}"
                                    data-field="{{field}}"
                                    value="{{ item|get_model_field:field }}"
                                    type="{{ col_index|inp_type }}"

                                    {% if item.is_hidden %}
                                    checked="checked"
                                    {% endif %}

                                />

                                    {% if field == "photo_link" and item.photo_link %}

                                        <button class="reveal_img photo_text" id="{{ row_index }}open" type="button" onclick="open_image({{ row_index }})">
                                            Фото
                                        </button>

                                    {% endif %}



                                {% elif mode == "view" %}



                                    {% if field != "photo_link"%}

                                        {% if field == "name" %}

                                            <a href="/items?q={{ item|get_model_field:"index" }}">{{ item|get_model_field:field }}</a>
                                        {% else %}
                                            {{ item|get_model_field:field }}
                                        {% endif %}
                                    {% else %}
                                        {% if item.photo_link %}
                                            <button id="{{ row_index }}open" type="button" class="reveal_img photo_text" onclick="open_image({{ row_index }})">
                                                Фото
                                            </button>
                                        {% endif %}
                                    {% endif %}

                                {% endif %}


                            </td>

                        {% endfor %}
                    </tr>
                    {% endif %}




                {% endfor %}
            </tbody>
        </table>
{#    </form>#}

    <!-- creating static headers if original not visible -->
    <table id="view-header" class="nav_header" hidden="true">
        <thead class="static-thead">

            {% for header in headers %}

                <th class="th-inner" id="{{ header|concatenate:"static" }}">
                    {{ header }}
                </th>

                <script>
                    table_head = $("#{{ header }}");
                    console.log({{ header }}, table_head);
                    static_header_element = document.getElementById("{{ header|concatenate:"static" }}");
                    console.log(static_header_element.style.width);
                    static_header_element.style.width = `${table_head[0].offsetWidth}px`;
                </script>



            {% endfor %}
        </thead>
    </table>
<!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->

{% endif %}








