<!DOCTYPE html>
<html lang="en">
<head>

    
    <link rel="stylesheet" href="/static/css/item_page.css">
    <link rel="stylesheet" href="/static/css/navbar_upper.css">
    <link rel="stylesheet" href="/static/css/style.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <meta charset="UTF-8">
    <meta name="description" content="покупка транзистор полевой АП328А3. defaultr dest test Доставка по Украине">
    <meta name="keywords" content="транзистор полевой, АП328А3, цена, прайслист, купить радиодетали, радиодетали прайс лист, радиодетали почтой наложенным платежом, радиодетали ссср цена">

    <title>Купить транзистор полевой АП328А3 в Украине</title>

</head>

<body class="">

    <div class="nav-bar">
        <a class="nav-link" href="/">«ТОВ РАСТА»</a>

         <form action="/price/">
            <div class="row_oriented">
                <input class="w3-input" type="text" name="q" list="items" placeholder="Поиск по прайсу">
                <input type="hidden" value="0" name="p">
                <button class="button" type="submit" ><i class="fa fa-search"></i></button>
            </div>
        </form>

        <a class="nav-link" href="/price?full=true" title="прайс лист радиодетали">Прайс лист <span class="glyphicon glyphicon-align-justify"></span></a>

    </div>

    <div class="contacts___">
        <div class="cont-text ">+38 068 785 68 25 (Kyivstar)</div>
        <div class="cont-text"> vfo@ukr.net</div>
        <div class="cont-text ">+38 095 903 23 10 (MTC)</div>
    </div>

    <div class=" container-item-main">

        <h1 class="main-header"><a class="categ-link" href="/price/?q=транзисторполевой&p=0">транзистор полевой</a>: АП328А3 — Купить с доставкой по Украине</h1>
        <hr class="">
        <div class="flex space-betw">
            <p class="text-main">defaultr dest test</p>

            <div>
                <img  src="https://mail.google.com/mail/u/0?ui=2&amp;ik=8405c32325&amp;attid=0.1&amp;permmsgid=msg-f:1653884482190875426&amp;th=16f3c72c84849b22&amp;view=fimg&amp;disp=thd&amp;attbid=ANGjdJ-kg3asBma9o-nUQY_WrRtoIucfZGbUxRNb_-N3zZ1VXSL_sBNBgTCTLNYZC8Rgh2F_v4zGUPHf5thmFyTfTjR2bGTEf15oivJi6cU_c9gXRdPkCAB4c3yJDeg&amp;ats=2524608000000&amp;sz=w1920-h937" alt="АП328А3" title="АП328А3">

                <div class="data-row">
                    <p class="align-mid">Есть в наличии: 30 шт.</p>
                    <p class="align-mid">Последние изменения: 20/03/12 </p>
                </div>

                <div class="data-row">
                    <p class="align-mid">Price: 13.0 ₴</p>
                    <p class="align-mid">Последние изменения: 20/03/12 </p>
                </div>
            </div>

        </div>
        <div class="up-split"></div>



    </div>


<hr>



</body>

</html>