<!DOCTYPE html>
<html lang="en">
<head>

    
    <link rel="stylesheet" href="/static/css/item_page.css">
    <link rel="stylesheet" href="/static/css/navbar_upper.css">
    <link rel="stylesheet" href="/static/css/style.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <meta charset="UTF-8">
    <meta name="description" content="покупка микросхема К176ПУ2. defaultr dest test Доставка по Украине">
    <meta name="keywords" content="микросхема, К176ПУ2, цена, прайслист, купить радиодетали, радиодетали прайс лист, радиодетали почтой наложенным платежом, радиодетали ссср цена">

    <title>Купить микросхема К176ПУ2 в Украине</title>

</head>

<body>

    <div class="nav-bar">
        <a class="nav-link" href="/">«ТОВ РАСТА»</a>

        <form class="">
            <div class="flex">
                <input class="w3-input" type="text" name="search_request" placeholder="Поиск по прайсу">
                <button class="button" type="submit" ><i class="fa fa-search"></i></button>
            </div>
        </form>

        <a class="nav-link" href="/full_price" title="прайс лист радиодетали">Прайс лист <span class="glyphicon glyphicon-align-justify"></span></a>

    </div>

    <h1 class="main-header"><a href="/full_price/?category=микросхема">микросхема</a>: К176ПУ2 — Купить с доставкой по Украине</h1>

    <div class=" container-item-main">

        <div class="flex space-betw">
            <p>defaultr dest test</p>

            <div>
                <img  src="" alt="К176ПУ2" title="К176ПУ2">
            </div>

        </div>

        <div class="data-row">
            <p>Есть в наличии: 19</p>
        </div>

    </div>


<p>Последние изменения: 20/03/08 </p>

</body>

</html>