<!DOCTYPE html>
<html lang="en">
<head>

    
    <link rel="stylesheet" href="/static/css/item_page.css">
    <link rel="stylesheet" href="/static/css/navbar_upper.css">
    <link rel="stylesheet" href="/static/css/style.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <meta charset="UTF-8">
    <meta name="description" content="покупка микросхема К521СА1. defaultr dest test Доставка по Украине">
    <meta name="keywords" content="микросхема, К521СА1, цена, прайслист, купить радиодетали, радиодетали прайс лист, радиодетали почтой наложенным платежом, радиодетали ссср цена">

    <title>Купить микросхема К521СА1 в Украине</title>

</head>

<body class="">

    <div class="nav-bar">
        <a class="nav-link" href="/">«ТОВ РАСТА»</a>

        <form class="">
            <div class="flex">
                <input class="w3-input" type="text" name="search_request" placeholder="Поиск по прайсу">
                <button class="button" type="submit" ><i class="fa fa-search"></i></button>
            </div>
        </form>

        <a class="nav-link" href="/price?full=true" title="прайс лист радиодетали">Прайс лист <span class="glyphicon glyphicon-align-justify"></span></a>

    </div>

    <div class="contacts___">
        <div class="cont-text ">+38 068 785 68 25 (Kyivstar)</div>
        <div class="cont-text"> vfo@ukr.net</div>
        <div class="cont-text ">+38 095 903 23 10 (MTC)</div>
    </div>

    <div class=" container-item-main">

        <h1 class="main-header"><a class="categ-link" href="/price/?category=микросхема">микросхема</a>: К521СА1 — Купить с доставкой по Украине</h1>
        <hr class="">
        <div class="flex space-betw">
            <p class="text-main">defaultr dest test</p>

            <div>
                <img  src="" alt="К521СА1" title="К521СА1">
            </div>

        </div>
        <div class="up-split"></div>
<div class="data-row">
        <p class="align-mid">Есть в наличии: 2 шт.</p>
        <p class="align-mid">Последние изменения: 20/03/11 </p>
</div>

    </div>


<hr>



</body>

</html>